@page
@using static WordSearchEngine.WordSearchBuilder;
@model IndexModel

@{
    if (Model is null)
        throw new ArgumentNullException(nameof(Model));
}

<style>
table{
        text-align: left;
        margin-top: 50px;
        width: 100%;
}

    thead {
        background-color: rgb(249 250 251 / var(--tw-bg-opacity));
    }
</style>

<div class="relative flex min-h-screen flex-col bg-gray-50 py-6 sm:py-12 max-w-none px-20">
    <div class="relative bg-white px-6 pt-10 pb-8 shadow-xl ring-1 ring-gray-900/5  sm:rounded-lg sm:px-10">

        <a href="/new" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">New Puzzle Set</a>

        <table class="table-auto">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Difficulty</th>
                    <th>Style</th>
                    <th>Duplicate</th>
                    <th>Web</th>
                    <th>PDF Puzzle</th>
                    <th>PDF Soultion</th>
                    <th>Cover Sheet</th> 
                </tr>
            </thead>
            <tbody>
            @foreach(var puzzle in Model.Puzzles){
                <tr>
                    <td>@puzzle.Title</td>
                    <td>Difficulty</td>
                    <td>Style</td>
                    <td><a href="/new/?id=@puzzle.Id">Duplicate</a></td>
                    <td><a href="/web/?id=@puzzle.Id">Web</a> </td>
                    <td><a href="/save/pdf/@(puzzle.Id)/Puzzles">PDF Puzzles</a> </td>
                    <td><a href="/save/pdf/@(puzzle.Id)/Solutions">PDF Solutions</a> </td>
                    <td><a href="/save/cover/@puzzle.Id">Cover</a> </td>
                </tr>
            }
            </tbody>
        </table>

    </div>


    <style>
        html {
            height: 100%
        }

        body {
            font-family: 'Montserrat', sans-serif;
            text-align: center;
            height: 100%;
        }
    </style>

</div>

