@page
@using BlueBoxes.WordSearchBuilder.Models
@model NewModel

@{
if (Model is null)
  throw new ArgumentNullException(nameof(Model));
}

<div class="relative flex min-h-screen flex-col bg-gray-50 py-6 sm:py-12 max-w-none px-20">
    <div class="relative bg-white px-6 pt-10 pb-8 shadow-xl ring-1 ring-gray-900/5  sm:rounded-lg sm:px-10">

        <form method="post" class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
            <div class="mb-6">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="set-title">Title</label>
                <input id="set-title" name="PuzzleTitle" value="@Model.PuzzleTitle"
                    class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
            </div>
            <div class="mb-6">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="grid-level">Difficulty</label>
                <select asp-for="@Model.GridLevel"
                    class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                    asp-items="Html.GetEnumSelectList<Difficulty>()">
                </select>
            </div>

            <div class="mb-6">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="grid-level">Words</label>
                <textarea asp-for="@Model.InputWords" rows="10" cols="200"
                    class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
    </textarea>
            </div>
            <input type="submit"
                class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
                value="Generate">

            @if (!string.IsNullOrEmpty(Model.Id))
            {
                <a href="/web/?id=@Model.Id"
                    class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">Web</a>
                <a href="/save/pdf/@Model.Id"
                    class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
                    PDF
                    Puzzles
                </a>     
            }

        </form>


    </div>


    <style>
        html {
            height: 100%
        }

        body {
            font-family: 'Montserrat', sans-serif;
            text-align: center;
            height: 100%;
        }
    </style>



  

</div>